<div class="container-fluid">
  <h1>Bienvenido a {{titulo}}</h1>

  <form action="">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="nombreInput" id="nombreInput" placeholder="Nombre" [(ngModel)]="nombre" (input)="setRegistrado(false)" required>
      <label for="nombreInput">Nombre</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" name="apellidoInput" id="apellidoInput" placeholder="Apellido" [(ngModel)]="apellido" (input)="setRegistrado(false)" required>
      <label for="apellidoInput">Apellido</label>
    </div>

    <button type="submit" class="btn btn-light" (click)="registrarUsuario()">Registrarse</button>
  </form>

  <p *ngIf="registrado">Usuario registrado con el nombre  "{{apellido}}, {{nombre}}"</p>
</div>